/* CSS HEX */
--xiketic: #07020dff;
--keppel: #36c4b0ff;
--magnolia: #f7f0f5ff;
--hunter-green: #386150ff;
--brick-red: #c83e4dff;
--brick-red-2: #cd505dff;


/* CSS HEX  2 PALLETTE*/
--smoky-black: #090c02ff;
--shamrock-green: #329f5bff;
--light-cyan: #e0fbfcff;
--crimson-ua: #a71d31ff;
--blue-yonder: #587291ff;

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #EFEFF1; */
}

#root {
 height: 100vh;
 position: relative;

}

.header-width {
    width: calc(100% - 207px);
}

.center {
    position: absolute;
    left: 55%;
    top: 5%;
    transform: translate(-50%, -2%);
    padding: 10px;
}

.btn {
    background-color: #329F5B;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

/* .center {
    margin: auto;
    width: 60%;
    border: 5px solid #FFFF00;
    padding: 10px;
} */